{
    "swagger": "2.0",
    "info": {
        "version": "1",
        "title": "충청남도교육청_충남방과후학교지원센터_음식별칼로리",
        "description": "https://www.data.go.kr/data/15152347/fileData.do#/API%20%EB%AA%A9%EB%A1%9D/getuddi%3A4fe3deb1-da97-4fe3-89a0-c2773b6a7bb6"
    },
    "host": "api.odcloud.kr",
    "basePath": "/api",
    "schemes": [
        "https",
        "http"
    ],
    "securityDefinitions": {
        "ApiKeyAuth": {
            "type": "apiKey",
            "in": "header",
            "name": "Authorization"
        },
        "ApiKeyAuth2": {
            "type": "apiKey",
            "in": "query",
            "name": "serviceKey"
        }
    },
    "paths": {
        "/15152347/v1/uddi:4fe3deb1-da97-4fe3-89a0-c2773b6a7bb6": {
            "get": {
                "tags": [
                    "API 목록"
                ],
                "summary": "충청남도교육청_충남방과후학교지원센터_음식별칼로리_20251001",
                "operationId": "getuddi:4fe3deb1-da97-4fe3-89a0-c2773b6a7bb6",
                "description": "충청남도교육청_충남방과후학교지원센터_음식별칼로리_20251001",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "page index",
                        "type": "integer",
                        "format": "int64",
                        "exclusiveMinimum": false,
                        "default": 1
                    },
                    {
                        "name": "perPage",
                        "in": "query",
                        "description": "page size",
                        "type": "integer",
                        "format": "int64",
                        "exclusiveMinimum": false,
                        "default": 10
                    },
                    {
                        "name": "returnType",
                        "in": "query",
                        "description": "응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정",
                        "type": "string",
                        "exclusiveMinimum": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "성공적으로 수행 됨",
                        "schema": {
                            "$ref": "#/definitions/uddi:4fe3deb1-da97-4fe3-89a0-c2773b6a7bb6_api"
                        }
                    },
                    "401": {
                        "description": "인증 정보가 정확 하지 않음"
                    },
                    "500": {
                        "description": "API 서버에 문제가 발생하였음"
                    }
                },
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "ApiKeyAuth2": []
                    }
                ]
            }
        }
    },
    "definitions": {
        "uddi:4fe3deb1-da97-4fe3-89a0-c2773b6a7bb6_model": {
            "type": "object",
            "properties": {
                "음식구분": {
                    "type": "string",
                    "description": ""
                },
                "음식명": {
                    "type": "string",
                    "description": ""
                },
                "칼로리": {
                    "type": "integer",
                    "description": ""
                }
            }
        },
        "uddi:4fe3deb1-da97-4fe3-89a0-c2773b6a7bb6_api": {
            "type": "object",
            "properties": {
                "page": {
                    "type": "integer",
                    "format": "int64"
                },
                "perPage": {
                    "type": "integer",
                    "format": "int64"
                },
                "totalCount": {
                    "type": "integer",
                    "format": "int64"
                },
                "currentCount": {
                    "type": "integer",
                    "format": "int64"
                },
                "matchCount": {
                    "type": "integer",
                    "format": "int64"
                },
                "data": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/uddi:4fe3deb1-da97-4fe3-89a0-c2773b6a7bb6_model"
                    }
                }
            }
        }
    }
}